.menuDeCoresContainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    padding: 10px;
    background-color: $branco;
    border-radius: 10px;
    box-shadow: 2px 2px 2px $cinzaClaro;
    align-items: center;
    justify-content: center;
    gap: 5px;
    button {
        width: 10%;
        border-radius: 100%;
        padding: 14px;
        margin-bottom: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}