@import '../styles/variaveis.scss';

*{
  font-size: 14px;
  font-family: 'artico';
}

html,body,#__next {
  height: 100%;
  margin: 0;
  background-color: $corDoFundoCinza;
}

@import '../components/Cabecalho/Cabecalho.scss';
@import '../components/Tarefa/Tarefa.scss';
@import './index.scss';
@import '../components/CriarTarefa/CriarTarefa.scss';
@import '../components/MenuDeCores/MenuDeCores.scss';


@font-face {
  font-family: 'artico';
  src: url('../public/fonts/artico.otf');
}
